@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    display: flex;
    margin: 0;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

.main {
    width: 100%;
}

.topbar {
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content {
    height: 100%;
}

.icon {
    height: 8vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2em;
    cursor: pointer;
}

.icon ion-icon {
    font-size: 2em;
}

.icon p {
    margin: 0;
}

.icon:not(:first-of-type) {
    height: 16vh;
}

.logo {
    height: 50%;
}

.search-wrapper {
    display: flex;
    height: 50%;
    width: 30%;
}

.search-wrapper input {
    width: 100%;
    padding: 0 1em;
}

.icons-wrapper {
    display: flex;
    align-items: center;
}

.top-icon {
    font-size: 2em;
    padding: 0 0.5em;
}

.mic-icon {
    display: flex;
    align-items: center;
}

.search-btn {
    padding: 0 0.7em;
    font-size: 1.3em;
    display: flex;
    align-items: center;
}


/* FATTO DA STUDENTE */


.content {
    display: flex;
    padding: 4px;
    flex-wrap: wrap;
}


.thumbnail-container {
    width: 250px;
    height: 150px;
    margin: 6px;
}

.thumbnail-image {
    width: 100%;
    height: 80%;
    margin-bottom: 3px;
}

.thumbnail-image img {
    width: 100%;
    height: 100%;
} 

.thumbnail-info {
    display: flex;
    width: 100%;
    height: 20%;
}

.thumbnail-info-text {
    margin-left: 4px;
}

.thumbnail-info p {
    margin: 0;
}



.thumbnail-info-image img {
    width: 100%;
    height: 100%;
}

.thumbnail-info-title {
    font-size: 15px;
}

.thumbnail-info-description {
    font-size: 11px;
}
