.child {
    width: 100px;
    height: 100px;
    color: white;
    background-color: orange;
    margin: 5px;
    padding: 10px;
    font-size: 2em;
}

#container {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    justify-content: center;
}