
#recipe-category {
    text-align: center;
    background-color: rgb(255, 255, 214);
    border-top: 1px solid rgb(255, 230, 1);
    height: 50px;
}

#recipe-section {
    width: 50%;
    margin-inline: auto;
}


#recipe-section .recipe-title {
    text-align: center;
}




#recipe-section .recipe-media {
    text-align: center;
}

#recipe-section .recipe-media .caption {
    color: rgb(177, 176, 176);
    margin-top: 0;
}

#recipe-section .recipe-media video {
    width: 80%;
    min-width: 300px;
}



#recipe-section .recipe-feature {
    border-left: 1px solid rgb(255, 230, 1);
    padding-left: 10px;
}

#recipe-section .recipe-feature .featured {
    color: orange;
    font-weight: bold;
}

#recipe-section .recipe-method .pad-left {
    padding-left: 10px;
}

#recipe-section .recipe-method .content {
    border-top: 1px solid black;
}



#recipe-section .recipe-ingredients .content {
    border-top: 1px solid black;
}



#page-logo {
    text-align: center;
    margin-inline: auto;
}

#page-logo img {
    width: 200px;
}
